/* .textContainer {
    width:fit-content;
    justify-content: flex-end; 
    align-items:baseline; 
    height: fit-content; 
    margin-top: 50px;
}

.textInput {
    width: 460px;
    height: 30vh;
    padding: 10px;
    font-size: 16px;
} */